@import "nullStyle.scss";
@import "header.scss";
$bodyBGColor: #222;
$headerBGColor: #aaa;
$headerTextColor: #fff;

$borderForColumnWrapper: none;

$oddListElementBGColor: #f6f6f6;
$evenListElementBGColor: #eee;

$smallFontSize: 14px;

*
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
}

%tplHeaderText
{
   color: $headerTextColor;
   font-weight: 700;
}

//body---------------------------------------
body
{
   height: 100%;
   background-color: $bodyBGColor;
}

.mainWrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   // align-items: center;
}

.content
{
   flex: 1 1 auto;
}
//centering----------------------------------
.columnWrapper
{
   width: 80%;
   max-width: 1200px;
   border: $borderForColumnWrapper;
   height: 100%;
   margin: 0 auto;
}
.contentItem
{
   z-index: 0;
   background-color: #fff;
   border-radius: 20px;
   min-height: 80px;
   overflow: hidden;

   margin-top: 10px;
   margin-bottom: 10px;

   width: 100%;
   // display: flex;
   // justify-content: space-between;
   // flex-direction: column;
   // align-items: center;

   div.contentItem-label{
      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
      h2
      {
         font-size: 36px;

         color: $bodyBGColor;
         
      }
   }
   .securitiesList
   {

      margin-bottom: 10px;
     
      li
      {
         background-color: $evenListElementBGColor;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-left: 10px;
         padding-right: 10px;
         height: 50px;

         &:nth-child(odd)
         {
            background-color: $oddListElementBGColor;
         }

         .sender::before{
            content: "Отправитель: ";
            font-size: $smallFontSize;
         }

         .reportId::before{
            content: "reportId: ";
            font-size: $smallFontSize;
         }

         .security::before{
            content: "Isin: ";
            font-size: $smallFontSize;
         }

         .reportText::before{
            content: "Isin: ";
            font-size: $smallFontSize;
         }


         .securityName::before
         {
            content: "ticker: ";
            font-size: $smallFontSize;
         }
         .securityAmount::before
         {
            content: "Amount: ";
            font-size: $smallFontSize;
         }
         .securityPrice::before
         {
            content: "price: ";
            font-size: $smallFontSize;
         }
         .securityTotal::before
         {
            content: "total: ";
            font-size: $smallFontSize;
         }

         .securityPrice::after
         {
            content: " $";
         }
         .securityTotal::after
         {
            content: " $";
         }

         .securityAmount input
         {
            width: 100px;
         }

         img{
            width: 30px;
            cursor: pointer;
         }
      }
   }
   .securitiesButtons
   {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
      width: 100%;
      
      button
      {
         height: 50px;
         width: 150px;
         border-radius: 20px;
      }
   }

   .securitySelect
   {
      margin-top: 10px;
      margin-bottom: 10px;
   }
   .diversificationContent{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .diagram{
         max-width: 320px;
         .diagramListItemChart{
            width: 100%;
         }
         .diagramListItemChart text{
            font-size: 14px;
         }
      }
      .diversificationTable{
         padding: 10px;
         //flex: 1 1 auto;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         min-width: 300px;
         table{
            flex: 1 1 auto;

            border-spacing: 0;
            tr{
               border-top: 1px solid #222;
            }

            td{
               border-top: 1px solid #222;
            }
         }
      }
   }

   // .diagramList
   // {
   //    text-align: center; 
   //    .diagramListItem
   //    {
   //       display: inline-flex;
   //       flex-direction: column;
   //       align-items: center;
   //       justify-content: space-between;

   //       width: 510px;
   //       //height: 650px;
   //       border: #222 solid 1px;
   //       border-radius: 20px;
   //       padding-bottom: 20px;

   //       margin:10px;

   //       h3
   //       {
   //          font-size: 22px;
   //          font-weight: 500;
   //       }

   //       .diagramListItemChart
   //       {

   //          text
   //          {
   //             font-size: 14px;
   //          }
   //       }
   //    } 
   // }

}
//footer-------------------------------------
footer{
   height: 100px;
   width: 100%;

   background-color: $headerBGColor;
   color: $headerTextColor;

   div.columnWrapper{
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
//blur---------------------------------------
div.authorization
{  
   top: 0;
   left: 0;
   position: absolute;

   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;



   .blur{
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 70%;
   }

   .close
   {
      position: relative;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
   }

   .contentItem
   {
      overflow: visible;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      width: 500px;

      .contentItem-label
      {
         width: 100%;
         margin-top: 10px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction: row;
      }

      h2.radioLabel
      {
         margin-top: 10px;
         display: inline;
         cursor: pointer;
         color: $headerBGColor;

         &.selected
         {
            color:#222;
            text-decoration: underline;
         }
      }

      form
      {
         flex: 1 1 auto;
         width: 100%;
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction: column;

         input
         {
            display: block;
            padding: 3px;
            margin-top: 20px;
            margin-bottom: 20px;
            
            width: 96%;
            border: $bodyBGColor solid 1px;
            border-radius: 10px;
         }

         button
         {
            background: none;
            background-color: none;
            margin-bottom: 10px;
            font-weight: 700;
            border: $bodyBGColor solid 1px;
            padding: 10px;
            border-radius: 10px;
         }
      }
      div.closeDiv{
         position: relative;
         width: 0;
         height: 0;

         top: -40px;
         right: -44%;

         img{
            filter: invert(1);
            width: 30px;
            cursor: pointer;
         }
      }
   }
}